@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 40 100% 98%;
		--foreground: 240 10% 3.9%;

		--primary: 252 86% 65%;
		--primary-foreground: 0 0% 98%;
	}

	.dark {
		--background: 40 10% 5.9%;
		--foreground: 40 95% 96%;

		--primary: 252 56% 52%;
		--primary-foreground: 0 0% 90%;
	}
}

@layer base {
	body {
		@apply bg-background text-foreground antialiased scroll-smooth;
	}
}
